html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

canvas {
  --light1-opacity: 0.1;
  --light2-opacity: 0.04;

  border: 1px solid #4a5568;
  background-color: #f7fafc;
  border-radius: 0.2rem;
  box-shadow: 0 20px 25px -5px rgba(239, 239, 199, var(--light1-opacity)),
    0 10px 10px -5px rgba(239, 239, 199, var(--light2-opacity));
}
